@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

main {
  height: calc(100vh - 70px);
}

.p-fileupload-choose {
  width: 100%;
}

.operator-button {
  background-color: white !important;
}
